@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header-title,
.header-container img, 
.main-content h2,
.main-content p,
.main-content button {
  animation: fadeInSlide 1s ease-out; 
}


.header-container img {
  animation-delay: 0.2s; 
}

.header-title {
  animation-delay: 0.4s; 
}

.main-content h2 {
  animation-delay: 0.6s; 
}

.main-content p {
  animation-delay: 0.8s; 
}

.main-content button {
  animation-delay: 1s; 
}


.header-title,
.header-container img,
.main-content h2,
.main-content p,
.main-content button {
  animation-fill-mode: both; 
}


body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7fafc; /* Global background of the page */
}

header {
  background-color: rgba(139, 135, 135, 0.171); /* White background semi-transparent */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header-container {
  max-width: 2200px;
  margin: 0 auto;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 4.1rem; /* 3xl */
  color:  #fb9b35 ;
  animation: fadeInSlide 1s ease-out;  
}

.header-container img {
  margin-right: -1180px; 
  height: 80px; 
}

.header-title {
  display: inline-block;
  vertical-align: middle; 
}


#menu-button {
  cursor: pointer;
  font-size: 1.3rem; /* Base */
  color: #f1f1f1; 
  background: none;
  border: none;
  background-color: #fb9b35 ; 
  border: none;
  border-radius: 1.575rem;
  padding: 0.5rem 1rem;
}

.hidden {
  display: none;
}

.main-container {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.main-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* White background semi-transparent */
  z-index: -1;
}

.main-content {
  text-align: center;
  color: #fff; /* White */
  padding: 20px;
  max-width: 2800px;
}

.main-content h2 {
  font-size: 5rem; 
  margin-bottom: 1rem;
  /*letter-spacing: 0.1em;*/
}

.main-content p {
  font-size: 1.125rem; /* xl */
  margin-bottom: 1rem;
}

.main-content button {
  background-color: #38a169; /* Green */
  color: #fff; /* White */
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  font-size: 1rem; /* Base */
}

.main-content button:hover {
  background-color: #2f855a; /* Dark Green */
}