:root {
  --color-text: #fb9b35;
  --color-border: #b3b0b0;
  --color-hover: #b9b6b6;
  --color-background-light: #e69136;
  --color-background-dark: rgb(104, 145, 104);
  --color-button: #e67a07;
  --color-button-hover: darkgreen;
  --color-tooltip: #fb9b35;
  --color-white: #fff;
  --color-black: #000;
}

.custom-orange {
  color: #c06708;
}


body {
  font-family: Arial, sans-serif;
  margin: 10px;
  font-size: 14px;
  background-image: url('examRoomNeedCalcBackground.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  animation: fadeIn 1s ease-in-out;
}

h1 {
  color: var(--color-text);
  font-size: 2.9rem;
  margin-bottom: 1rem;
  width: 100%;
  margin: 0;  
  padding: 0; 
  white-space: nowrap; 
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 4px;
  text-align: left;
  border-bottom: 1px solid var(--color-border);
}

tr:hover {
  background-color: var(--color-hover);
}

input[type="number"] {
  width: 60px;
  padding: 2px;
  font-size: 0.9rem;
}

button {
  margin-top: 5px;
  padding: 3px 5px;
  background-color: var(--color-button);
  color: var(--color-white);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--color-button-hover);
}

.box {
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.box-visit-time {
  position: absolute;
  top: 10%;
  left: 2%;
  height: 42.2%;
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}
.box-current-capacity{
  position: absolute;
  top: 10%;
  left: 20.5%;
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.box-calculation{
  position: absolute;
  top: 53%;
  left: 2%;
  width: 37%;
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.box-chart-title{
  position: absolute;
  top: 84.6%;
  left: 40%;
  width: 58.1%;
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}




.hidden {
  display: none;
}

.text-blue-600 {
  color: var(--color-button); 
}

.cursor-pointer {
  cursor: pointer;
}


#demand-capacity-options button {
  padding: 4px 8px;
  background-color: var(--color-button);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#demand-capacity-options button:hover {
  background-color: var(--color-button-hover);
}


.info-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 50%;
  width: 14px;
  height: 14px;
  text-align: center;
  font-size: 10px;
  line-height: 16px;
  margin-left: 3px;
  cursor: pointer;
  position: relative;
}

.tooltip {
  display: none;
  position: absolute;
  background-color: var(--color-tooltip);
  color: var(--color-white);
  text-align: center;
  padding: 3px;
  border-radius: 3px;
  top: 20px;
  left: 0;
  font-size: 11px;
  white-space: nowrap;
  z-index: 1;
}

.info-icon:hover .tooltip {
  display: block;
}


.required-providers,
.required-exam-rooms-per-provider,
.visits-per-provider-per-year {
  background-color: var(--color-background-light);
}

.bar {
  fill: var(--color-background-dark);
}


#chart {
  width: 1000px;
  height:800px;
}


.highlighted-text {
  background-color: var(--color-button);
  color: var(--color-white);
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
  display: inline-block;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
